@font-face{

font-family: 'RobotoRegular';

src: url('../css/fonts/Roboto-Regular-webfont.woff');

src: url('../css/fonts/Roboto-Regular-webfont.woff') format('woff');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'RobotoCondesedRegular';

src: url('../css/fonts/RobotoCondensed-Regular-webfont.woff');

src: url('../css/fonts/RobotoCondensed-Regular-webfont.woff') format('woff');

font-weight: normal;

font-style: normal;

}


@font-face{

font-family: 'RobotoCondesedBold';

src: url('../css/fonts/RobotoCondensed-Bold-webfont.woff');

src: url('../css/fonts/RobotoCondensed-Bold-webfont.woff') format('woff');

font-weight: bold;

font-style: normal;

}


body{
  font-family: 'RobotoCondesedRegular', sans-serif; 
}
h2{
  text-align: center;
  margin-bottom: 60px;
  padding-top: 40px;
}
ol{
  padding-left: 15px;
}
h2,h1{
  font-family: 'RobotoCondesedBold', sans-serif;
  font-weight: bold;
}
a{
  color: #fff !important;
}
a:hover {
  text-decoration: underline;
}
.card-body a:hover {
  text-decoration: none;
}
.footer a:visited {
  color: #c1c1c1;
}
.animated-modal {
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;

  transform: translateY(-50px);
  transition: all .7s;
}
.animated-modal p,
.animated-modal ol,
.animated-modal li,
.animated-modal h2,
.animated-modal img,
.animated-modal span,
.animated-modal input,
.animated-modal select,
.animated-modal button,
.animated-modal textarea {
  transform: translateY(-50px);
  opacity: 0;
  
  transition-property: transform, opacity;
  transition-duration: .4s;
}

.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal p,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal ol,
.fancybox-slide--current .animated-modal li,
.fancybox-slide--current .animated-modal img,
.fancybox-slide--current .animated-modal span,
.fancybox-slide--current .animated-modal input,
.fancybox-slide--current .animated-modal select,
.fancybox-slide--current .animated-modal button,
.fancybox-slide--current .animated-modal textarea {
  transform: translateY(0);
  opacity: 1;
}

.fancybox-slide--current .animated-modal h2 {
  transition-delay: .1s;
}
.fancybox-slide--current .animated-modal p,
.fancybox-slide--current .animated-modal ol,
.fancybox-slide--current .animated-modal li,
.fancybox-slide--current .animated-modal img,
.fancybox-slide--current .animated-modal span,
.fancybox-slide--current .animated-modal input,
.fancybox-slide--current .animated-modal select,
.fancybox-slide--current .animated-modal button,
.fancybox-slide--current .animated-modal textarea {
  transition-delay: .3s;
}
.arrows{
  position: relative;
  top: -130px;
}
.aboutMattressModal{
  padding-bottom: 10px;
}
.mattressSliderArrows{
  margin-bottom: 5px;
}
.orangeBackground{
  height: 55px;
  width: 55px;
  background-color: #ED7600;
  border-radius: 100%
}
.orangeMark li{
  color: #ED7600;
}
.orangeMark ul{
	padding-left: 15px;
}
.orangeMark li span,
.orangeMark li p{
  color: #fff;
}
.fancybox-content{
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #ED7600;  
}
.card{
  border: 1px solid #ED7600;
  margin-bottom: 20px;
}
.aboutMattress{
  height: 12em;
}
.composition{
  height: 20em;
}
.orangeText span{
  color: #ED7600;
}
.orangeText li{
	font-family: 'RobotoRegular', sans-serif;
}
.fancybox-close-small {
  width: 50px;
  height: 50px;
}
.floatLeft{
  float: left;
}
.footer img{
  width: 55px;
  height: 42px;
	float: left;
	padding: 0px 10px 10px 0px;
}
.footerLogo{
  width: 101px !important;
  height: 58px !important;
  padding: 0 !important;
}
.footer p{
	margin: 0 !important;
}
.footer{
  font-size: 12px;
  line-height: 17px;
}
.price{
	height: 4em;
}
.price span{
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}
.bgDark{
  background-color: #111;
  color: #fff;
}
.bgLight{
  background-color: #FEF6F5;
  color: #111;
}
.bgDark button{
	color: #fff;
}
.bgLight button{
	color: #111;
}
.bgBrown{
  background-color: rgba(237, 118, 0, 0.15);
  border-radius: 50px;
}
.orangeBtn{
  border: 1px solid  #ED7600;
  border-radius: 50px;
  background-color: #ED7600;
  color: #fff;
  cursor: pointer;
}
.catalogBtn{
  height: 57px;
  width: 241px;
  margin-top: 50px;
}
.callMeForm button{
  color: #fff;
}
.partnerBtn{
  background: transparent;
  color: #ED7600 !important;
  min-height: 41px;
  min-width: 176px;
  margin-bottom: 50px;
  margin-top: 20px;
  padding: 9px;
}
.personalInformation{
  font-family: "RobotoCondesedRegular";
  font-weight: normal; 
  text-align: center;
  /*font-size: 10px;*/
}
.personalInformation a{
  color: #828282 !important;
  font-family: "RobotoCondesedRegular";
  font-weight: normal;
}
.orderMattressBtn{
  display: block;
  margin: auto;
  min-height: 46px;
  min-width: 246px;
  color: #fff !important;
  font-size: 20px;
}
.longBtn{
  width: 100%;
  height: 40px;
}
.logoPadding{
  padding-right: 10px;
}
.orderCallBtn{
  background: transparent;
  width: 140px;
  height: 35px;
}
.headerBtn{
  color: #ED7600 !important	;
}
.firstRow{
  padding-top: 10px;
  font-size: 12px;    
  line-height: 17px;
}
.nav-item button{
  color: #ED7600;
  font-size: 14px;
}
.navbar-toggler{
  padding: 0;
  font-size: 1rem; 
}
.navbar-nav img{
  padding-right: 10px;
}
.navbar-nav button{
  margin-top: 2px;
  margin-bottom: 12px;
}
.mobileMenuSmallText{
  line-height: 17px;
  font-size: 12px;
}
.map{
  padding: 0;
}
.form-control{
  border-radius: 25px;
}
.fix{
  overflow: hidden;
}
.card-title{
	text-align: center;
}
.icons img{
  max-height: 40px;
  max-width: 40px;
  margin: auto
}
.img2And6Margin{
  margin-top: 12px !important;
}
.img4Margin{
  margin-top: 7px !important;
}
.img
.icons div{
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}
.card-body img{
  max-height: 40px;
  max-width: 40px;
  margin: auto;
}
.card-body ol{
  padding-left: 20px;
}
.advantagesSlider img{
  margin: auto;
}
.advantagesSlider p{
  text-align: center;
}
.workTime{
	margin: 0;
}
.menu{
  margin-top: 40px;
}
.left-menu, .right-menu {
  justify-content: space-around;
  width: 100%;
  background: rgba(237, 118, 0, 0.15);
  display: flex;
  line-height: 50px;
  border-radius: 25px;
}
.left-menu:first-child{
  padding-left: 5px;
}
.center-menu{
  justify-content: space-around;
  width: 100%;
  display: flex;
  line-height: 50px;
  border-radius: 25px;
}
.item {
  min-width: 100px;
  text-align: center;
}
.item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.center-menu img {
  width: 100%;
  height: 50px;
}
.octaspringLogo{
  padding: 0;
}

.noPaddingRIght{
  padding-right: 0;
}

.cart-product__selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cart-product__select {
  width: 60%;
}
.cart-product__select_title {
  color: #000;
  font-weight: 700;
  margin-bottom: 5px;
  display: block;
}
.select__list:last-child {
  margin-bottom: 0;
}
.select__list {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  position: relative;
}
li, ul {
  margin: 0;
  padding: 0;
}
.select__item {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.select__param {
  width: 50%;
  background-color: #ED7600;
  padding: 8px 15px;
  -webkit-border-radius: 10em 0 0 10em;
  border-radius: 10em 0 0 10em;
  position: relative;
  font-size: 16px;
  color: #000;
}
.select__param:after {
  content: '';
  position: absolute;
  border: 21px solid transparent;
  border-right: 19px solid #ED7600;
  right: -17px;
  border-radius: 10em;
  z-index: 2;
  display: block;
  top: 0px;
}
.select__param--option:after {
  display: none;
}
.select__item--option {
  border: 1px solid #e8e8e8;
  border-bottom: 0;
  -webkit-transition: ease .2s;
  -o-transition: ease .2s;
  transition: ease .2s;
  background-color: #fff;
}
.select__param--option {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  color: #333;
} 
.select__value--option {
  -webkit-border-radius: 0;
  border-radius: 0 !important;
  border: 0 !important;
  background-color: transparent;
}
.select__value span {
  font-weight: 700;
}
.select__value:after {
  content: '';
  position: absolute;
  width: 12px;
  height: 8px;
  background-image: url(../img/icons/dropdown.png);
  background-repeat: no-repeat;
  top: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  right: 15px;
}
.select__value--option:after {
  display: none;
}
.select__value {
  width: 50%;
  padding: 8px 20px;
  font-size: 16px;
  -webkit-border-radius: 0 10em 10em 0;
  border-radius: 0 10em 10em 0;
  border: 1px solid #e8e8e8;
  border-left: 0;
  position: relative;
}
.select__option {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 48px;
  z-index: 3;
  width: 100%;
}
.cart-product__value {
  width: 35%;
}
.cart-product__price {
  margin-bottom: 30px;
  color: #000;
  font-weight: 700;
}
.cart-product__price span{
  margin-bottom: 30px;
  color: #ED7600;
  font-size: 36px;
  font-weight: 700;
}
.city__select {
  width: 70%;
  background-color: #ED7600;
  -webkit-border-radius: 10em;
  border-radius: 10em;
  padding: 8px 20px;
  color: #000;
  cursor: pointer;
  position: relative;
}
.city__select:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 9px;
  background-image: url(../img/icons/dropdown2.png);
  background-repeat: no-repeat;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.city__list {
  margin-top: 3px;
  width: 65%;
  display: none;
  position: absolute;
  color: #000;
  background-color: #fff;
  z-index: 2;
}
.city__list li {
  list-style-type: none !important; /* Убираем маркеры */
}
.city__item.active {
  background-color: #ED7600;
  border: 1px solid #ED7600;
  color: #fff;
}
.city__item {
  padding: 8px 20px;
  cursor: pointer;
  -webkit-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease .2s;
  border: 1px solid #ccc;
  border-top: 0;
}
.address__list.active {
  display: block;
}
.address__list {
  margin-top: 15px;
  padding-left: 20px;
  display: none;
}
.address__item.active {
  color: #ED7600;
}
.address__item {
  margin-top: 10px;
  padding-left: 10px;
  cursor: pointer;
  position: relative;
  line-height: 20px;
  font-size: 14px;
}
.contacts__list.active {
  display: block;
}
.contacts__list {
  display: none;
}
.contacts__title {
  line-height: 23px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 14px;
}
.contacts__desc {
  line-height: 17px;
  font-size: 12px;
}

#header{
  background-image: url('../img/background/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 890px;
  font-family: "RobotoCondesedBold", sans-serif;
  font-weight: bold;
}
#navbarNav{
  padding-left: 19px;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 10;
}
#headerContent{
  display: block;
  transition: all 1s;
}
#headerContent p{
  line-height: 46px;
  font-size: 33px;
  font-weight: bold;
}
#help h2{
  margin-bottom: 10px;
}
#help .form-row{
  padding-top: 30px;
}
#toTop {
  width:100px;
  padding:5px;
  position:fixed;
  bottom:10px;
  right:10px;
  cursor:pointer;
  display:none;
}
@media (min-width: 992px){
  .aboutOctaspring{
  background-image: url(../img/background/group.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .advantagesSlider p{
    text-align: left !important;
    margin: auto;
    line-height: 18px;
    padding-left: 10px;
  }
  .advantagesSlider div{
    margin-bottom: 30px;
    display: flex;
  }

  h1{
    margin-top: 100px;
    line-height: 79px;
    font-size: 53px;
  }

  .map ymaps{
    border-radius: 25px;
  }
  .map{
    margin-bottom: 100px;
  }

  .icons{
    margin-bottom: 20px;
  }
  .cardIcons div{
    padding: 0;
  }

  .container{
    padding-bottom: 40px;
  }

}
@media (max-width: 992px){
  .icons div:first-child{
    margin-bottom: 18px;
  }
  .icons{
    margin-top: 18px;
  }
  .footer{
    margin-top: 30px;
  }
  .catalogBtn{
  margin-top: 30px;
  }
  #headerContent p{
    line-height: 31px;
    font-size: 24px;
    font-weight: bold;
  }
  h1{
    font-size: 36px;
  }
  #header{
    height: 650px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .advantagesSlider p{
    text-align: left !important;
    margin: auto;
    line-height: 18px;
  }
  .advantagesSlider div{
    margin-bottom: 20px;
  }
  .cardIcons div{
    padding: 0;
  }  
}