@font-face{

font-family: 'RobotoRegular';

src: url('../fonts/Roboto-Regular-webfont.woff');

src: url('../fonts/Roboto-Regular-webfont.woff') format('woff');

font-weight: normal;

font-style: normal;

}

@font-face{

font-family: 'RobotoCondesedRegular';

src: url('../fonts/RobotoCondensed-Regular-webfont.woff');

src: url('../fonts/RobotoCondensed-Regular-webfont.woff') format('woff');

font-weight: normal;

font-style: normal;

}


@font-face{

font-family: 'RobotoCondesedBold';

src: url('../fonts/RobotoCondensed-Bold-webfont.woff');

src: url('../fonts/RobotoCondensed-Bold-webfont.woff') format('woff');

font-weight: bold;

font-style: normal;

}

@media (min-width: 992px){
  .aboutOctaspring{
  background-image: url(../img/background/group.png);
  height: 600px;
  }

  .advantagesSlider p{
  	text-align: left !important;
  	margin: auto;
  	line-height: 18px;
  	padding-left: 10px;
  }

  h1{
  	margin-top: 200px;
  }

  .map ymaps{
  border-radius: 25px;
  }
  .advantagesSlider div{
  	display: flex;
  }
}
body{
  font-family: 'RobotoCondesedRegular', sans-serif; 
}
h2{
  text-align: center;
  margin-bottom: 60px;
  padding-top: 20px;
}
ol{
  padding-left: 15px;
}
h2,h1{
 font-family: 'RobotoCondesedBold', sans-serif;
 font-weight: bold;
}
a{
  color: #fff;
}
.a{
  width: 465px;
  height: 46px;
}
.b{
  width: 222px;
  height: 46px;
}
.c{
 width: 453px;
 height: 46px;
}
.animated-modal {
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;

  transform: translateY(-50px);
  transition: all .7s;
}
.animated-modal p,
.animated-modal ol,
.animated-modal li,
.animated-modal h2,
.animated-modal img,
.animated-modal span,
.animated-modal input,
.animated-modal select,
.animated-modal button,
.animated-modal textarea {
  transform: translateY(-50px);
  opacity: 0;
  
  transition-property: transform, opacity;
  transition-duration: .4s;
}

.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal p,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal ol,
.fancybox-slide--current .animated-modal li,
.fancybox-slide--current .animated-modal img,
.fancybox-slide--current .animated-modal span,
.fancybox-slide--current .animated-modal input,
.fancybox-slide--current .animated-modal select,
.fancybox-slide--current .animated-modal button,
.fancybox-slide--current .animated-modal textarea {
  transform: translateY(0);
  opacity: 1;
}

.fancybox-slide--current .animated-modal h2 {
  transition-delay: .1s;
}
.fancybox-slide--current .animated-modal p,
.fancybox-slide--current .animated-modal ol,
.fancybox-slide--current .animated-modal li,
.fancybox-slide--current .animated-modal img,
.fancybox-slide--current .animated-modal span,
.fancybox-slide--current .animated-modal input,
.fancybox-slide--current .animated-modal select,
.fancybox-slide--current .animated-modal button,
.fancybox-slide--current .animated-modal textarea {
  transition-delay: .3s;
}
.arrows{
  position: relative;
  top: -130px;
}
.orangeMark li{
  color: #ED7600;
}
.orangeMark ul{
	padding-left: 15px;
}
.orangeMark li span,
.orangeMark li p{
  color: #fff;
}
.fancybox-content{
  border-radius: 25px;
  border: 1px solid #ED7600;
  
}
.card{
  border: 1px solid #ED7600;
  margin-bottom: 20px;
}
.container{
  padding-top: 40px;
  padding-bottom: 40px;
}
.aboutMattress{
  height: 12em;
}
.composition{
  height: 20em;
}
.orangeText span{
  color: #ED7600;
}
.orangeText li{
	font-family: 'RobotoRegular', sans-serif;
}
.floatLeft{
  float: left;
}
.footer img{
	float: left;
	padding: 0px 10px 10px 0px;
}
.footer p{
	margin: 0 !important;
}
.price{
	height: 4em;
}
.bgDark{
  background-color: #111;
  color: #fff;
}
.bgLight{
  background-color: #FEF6F5;
  color: #111;
}
.bgDark button{
	color: #fff;
}
.bgLight button{
	color: #111;
}
.bgBrown{
  background-color: rgba(237, 118, 0, 0.15);
  border-radius: 50px;
}
.orangeBtn{
  border: 1px solid  #ED7600;
  border-radius: 20px;
  background-color: #ED7600;
}
.catalogBtn{
  height: 57px;
  width: 241px;
 /* max-height: 61px;
  max-width: 255px;*/
}
.partnerBtn{
  background: transparent;
  color: #ED7600 !important;
  min-height: 41px;
  min-width: 176px;
  margin-bottom: 25px;
}
.personalInformation{
  font-family: "RobotoCondesedBold", sans-serif;
  font-weight: bold; 
}
.personalInformation a{
  color: #828282;
}
.orderMattressBtn{
  min-height: 46px;
  min-width: 246px;
  color: #000;
}
.longBtn{
  width: 100%;
  height: 40px;
}
.orderCallBtn{
  background: transparent;
  width: 140px;
  height: 35px;
}
.headerBtn{
  color: #ED7600 !important	;
}
.firstRow{
  padding-top: 10px;
}
.nav-item button{
  color: #ED7600;
}
.map{
  padding: 0;
}
.form-control{
  border-radius: 25px;
}
.fix{
  overflow: hidden;
}
.card-title{
	text-align: center;
}
.icons img{
  max-height: 40px;
  max-width: 40px;
  margin: auto
}
.img2And6Margin{
  margin-top: 12px !important;
}
.img4Margin{
  margin-top: 7px !important;
}
.img
.icons div{
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}
.card-body img{
  max-height: 40px;
  max-width: 40px;
  margin: auto;
}
.card-body ol{
  padding-left: 20px;
}
.advantagesSlider img{
  margin: auto;
}
.advantagesSlider p{
  text-align: center;
}
.workTime{
	margin: 0;
}
#header{
  background-image: url('../img/background/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  font-family: "RobotoCondesedBold", sans-serif;
  font-weight: bold;
}
#navbarNav{
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  z-index: 10;
  /*display: none;*/
}
#headerContent{
  display: block;
  transition: all 1s;
}
#selectCity{
  background: #ED7600;
  color: #111;
}
#toTop {
width:100px;
padding:5px;
position:fixed;
bottom:10px;
right:10px;
cursor:pointer;
display:none;
}


.left-menu, .right-menu {
  justify-content: space-around;
  width: 100%;
  background: rgba(237, 118, 0, 0.15);
  display: flex;
  line-height: 50px; /*под высоту картинки в центре*/
  border-radius: 25px;
}
.center-menu{
  justify-content: space-around;
  width: 100%;
  display: flex;
  line-height: 50px; /*под высоту картинки в центре*/
  border-radius: 25px;
}
.item {
  min-width: 100px;
  text-align: center;
}
.item:hover {
  opacity: 0.6;
  cursor: pointer;
}
.center-menu img {
  width: 100%;
  height: 50px;
}